body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, span {
  font-family: 'Suez One', serif;
}

h1 {
  padding-top: 50rem;
  text-shadow: 2px 2px 1px #000000;
}

header {
  background-image: url('../img/bg-img.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.exp-section i {
  font-size: 8rem;
  height: 10rem;
  color: rgb(220, 53, 69);
}

@media (max-width: 768px) {
  header {
    background-image: url('../img/bg-img2.JPG');
  }

  h1:before {
    padding-top: 40rem;
  }
}
